@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body {
  font-family: "Roboto", sans-serif;
}
#go-top {
  right: 10px;
  bottom: 20px;
  font-size: 1.3rem;
}
/* header start */
header {
  background-color: #f0fff0;
}
.navbar-brand img {
  width: 198px;
  height: 59px;
}
header .active {
  border-bottom: 2px solid rgb(201, 48, 48);
}
@media (max-width: 960px) {
  header .collapse {
    background-color: #08aeea;
    background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
  }
}
@media (max-width: 719px) {
  #signIn {
    font-size: 0.7rem;
  }
}
@media (min-width: 720px) {
  #signIn {
    height: 40px;
    width: 90px;
    padding: 0;
  }
}
header h1 {
  font-size: 2.5rem;
}
#welcome-text h1 {
  margin: 20px 0;
}
/* header end */

/* intro start */
#intro {
  margin-bottom: 30px;
}
#intro img {
  width: 66px;
  height: 85px;
}
#intro .card {
  background: #f8fffb;
  border-radius: 10px;
  margin: 30px 0;
}
#intro .card:hover {
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}
/* intro end */

/* course start */
#course {
  margin-bottom: 40px;
}
#course h1 {
  margin-bottom: 30px;
}
#course .card {
  background: #ffffff;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
}

/* course end */

/* testimonial start */
#testimonial {
  margin-bottom: 30px;
}
#testimonial h1 {
  margin-top: 60px;
}
#testimonial p {
  text-align: justify;
  font-size: 1.1rem;
  padding: 10px;
  font-style: italic;
}
/* carousel */
.carousel-indicators li {
  background: rgb(223, 77, 77);
  width: 10px;
  height: 2px;
  border-radius: 50%;
}
.carousel-item {
  padding: 30px 0;
  margin-bottom: 30px;
}
.carousel-indicators li.active {
  background-color: #28a745;
}
.carousel-control-prev span {
  color: black;
  background-color: rgba(153, 149, 149, 0.5);
}
.carousel-control-next span {
  color: black;
  background-color: rgba(153, 149, 149, 0.5);
}
/* carousel */

/* testimonial end */

/* footer start */
footer {
  background: #282531;
  color: white;
  padding-top: 30px;
  position: static;
  bottom: 0;
}
footer ul {
  list-style: none;
}
footer a {
  text-decoration: none;
}
/* footer end */
.form-control {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  border-radius: 0;
}
